upstream {{upstream}} {
    # server unix:///path/to/your/mysite/mysite.sock;     # for a file socket
    # server 127.0.0.1:49001;                             # for a web port socket (we'll use this first)
    server unix://{{socket}};
}

server {

    #listen       8080;
    server_name {{fqdn}};
    charset     utf-8;
    access_log  {{log_dir}}/nginx-access.log; # compression;
    error_log   {{log_dir}}/nginx-error.log; # info;

    location / {
        uwsgi_pass {{upstream}};
        include uwsgi_params;
    }

    location /media/ {
        alias {{user_home}}/media/;
        expires 30d;
        access_log off;
    }


    location /static/ {
        alias {{user_home}}/static_root/;
        expires 30d;
        access_log off;
    }
}
