[Unit]
Description=Frontail daemon
After=syslog.target

[Service]
ExecStart=/usr/local/bin/frontail {{frontail_log}} --ui-highlight
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=frontail

ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID

Restart=always
#StandardError=syslog
NotifyAccess=all
KillSignal=SIGQUIT
PIDFile=/run/frontail.pid

[Install]
WantedBy=multi-user.target