[Unit]
Description=rqdashboard daemon
After=network.target

[Service]
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
User=vagrant
Group=www-data

ExecStart=/home/vagrant/virtualenvironment/bin/python /home/vagrant/virtualenvironment/bin/rq-dashboard
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target