[Unit]
Description=rqworker daemon
After=network.target

[Service]
User={{remote_user}}
Group=www-data

ExecStart=/home/%{User}/virtualenvironment/bin/python /home/%{User}/pdfupload/manage.py rqworker default
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target