[uwsgi]
#
# Process specific
#
master=True
socket={{socket}}
chmod-socket = 777
chown-socket = {{uwsgi_process_owner}}
pidfile={{ram_dir}}/{{project_name}}.pid
max-requests=5000
processes=2
harakiri=20
vacuum=True
procname = PdfUpload

#
# Logging specific
#
disable-logging=False
logto      = {{log_dir}}/uwsgi.log
req-logger = file:{{log_dir}}/uwsgi-access.log
logger     = file:{{log_dir}}/uwsgi-error.log


#
# Django specific
#
chdir={{project_root}}
touch-reload=/tmp/{{project_name}}.reload
attach-daemon = python %(chdir)/manage.py rqworker default
attach-daemon = rq-dashboard

env=DJANGO_SETTINGS_MODULE={{project_name}}.settings

#module = django.core.handlers.wsgi:WSGIHandler()
module = django.core.wsgi:get_wsgi_application()
#module = {{project_name}}.wsgi:application           # from https://docs.djangoproject.com/en/1.8/howto/deployment/wsgi/uwsgi/

# if user virtualenv, set pythonpath to python interpreter within virt. envir., otherwise set to '..'
pythonpath=..

# if user virtualenv, set home=/path/to/virtual/env
# home=