[uwsgi]
chdir={{project_root}}
master=True
disable-logging=False
chmod-socket = 777
chown-socket = {{uwsgi_process_owner}}

logto      = {{log_dir}}/uwsgi.log
req-logger = file:{{log_dir}}/uwsgi-access.log
logger     = file:{{log_dir}}/uwsgi-error.log

vacuum=True
pidfile={{ram_dir}}/{{project_name}}.pid
max-requests=5000
socket={{socket}}
processes=2
harakiri=20

# Path to python interpreter if using virt. envir., otherwise '..'
pythonpath=..
env=DJANGO_SETTINGS_MODULE={{project_name}}.settings
#module = django.core.handlers.wsgi:WSGIHandler()
module = django.core.wsgi:get_wsgi_application()
touch-reload=/tmp/{{project_name}}.reload
attach-daemon = python %(chdir)/manage.py rqworker default