# Приватные файлы
**/*.txt
!requirements.txt
**/*secret*
**/*NOT-FOR-GIT*
workflow/fixtures/initial_data.json
test/**
test.py
vault_password
.env
timestamp


# Файлы, создаваемые приложением
*.pyc
__pycache__/
.idea/
.vagrant/
stamp
/provision/*.retry
shelve.db

# Статика
/test
/bower_components


# Сырое
workflow/templates/debug.html
workflow/templates/log.html
workflow/templates/test.html
workflow/templates/info.html
TODO.md
rebuild_db.sh
PDFSOFTWARE.md
pdfupload/settings_secret.py
workflow/fixtures/
