# Приватные файлы
*.txt
!requirements.txt
db.sqlite3
pdfupload/secret_settings.py
credentials-NOT-FOR-GIT.yml
initial_data.json
deploy.yaml

#Служебные файлы
*.pyc
**/migrations/
__pycache__/
.idea/
.vagrant/
logs/
input/

# Статика
static_root/
media/
**/static/
test/
tmp/

# Создаваемые программой файлы

workflow/templates/debug.html
workflow/templates/log.html
workflow/templates/test.html
TODO.md
rebuild_db.sh
fabfile.py
PDFSOFTWARE.md
pdfupload/settings_secret.py
workflow/templates/info.html