arrow==0.10.0
chardet==3.0.2
click==6.7
Django==1.11.1
django-bootstrap3==8.1.0
django-bootstrap3-datetimepicker-2==2.4.2
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-nvd3==0.9.7
django-rq==0.9.5
Flask==0.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
pdfminer.six==20170419
Pillow==4.0.0
pkg-resources==0.0.0
psycopg2==2.6.2
pycrypto==2.6.1
-e git+https://github.com/mstamy2/PyPDF2@2a9d76d1244444f7bdd1e8f42eaeee159eadf7fa#egg=PyPDF2
python-dateutil==2.6.0
python-decouple==3.0
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2017.2
redis==2.10.5
reportlab==3.3.0
requests==2.12.4
rq==0.7.1
rq-dashboard==0.3.7
six==1.10.0
sqlparse==0.2.2
twx.botapi==3.1.1
Unidecode==0.4.20
Werkzeug==0.11.15
