Django==1.9.2
PyPDF2==1.24
rq==0.5.6
django-rq==0.8.0
rq-dashboard==0.3.4
django-rq-dashboard==0.2.9
django-bootstrap3==6.2.2
fabric==1.10.2
django-bootstrap3-datetimepicker-2=2.4.2
django-nvd3==0.8.2
pdfminer==20140328
django-debug-toolbar==1.4
django-grappelli==2.7.3#
django-crispy-forms==1.6.0
Pillow==2.9.0
reportlab==3.2.7

#updated
#django-bootstrap3-datetimepicker==2.2.3
#замена на форк
#-->django-bootstrap3-datetimepicker-2=2.4.2
#Django==1.9.2
#django-debug-toolbar==1.4
#django-bootstrap3==6.2.2
#django-crispy-forms==1.6.0
#rq==0.5.6
#django-rq-dashboard==0.2.9
#django-grappelli==2.7.3