[Unit]
Description=gunicorn service
Requires=gunicorn.socket
After=network.target


[Service]
#PIDFile={{pid}}
User={{remote_user}}
Group=www-data
#RuntimeDirectory={{project_name}}
#RuntimeDirectoryMode=0777
WorkingDirectory={{project_root}}
Type=forking
#PrivateTmp=true

ExecStart={{virtualenv}}/bin/gunicorn \
            --pid {{pid}} \
            --workers 3 \
            --error-logfile {{log_dir}}/gunicorn_error.log \
            --bind {{socket}} \
            {{project_name}}.wsgi:application

#TODO add --reload option to ExecStart to dev machine for automatic reload

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target