{% extends "base.html" %}

{% block table %}

<div class="container-fluid">
    <table class="table table-striped table-bordered tab table-condensed">
            <tr>
              <th>Дата</th>
              <th>Имя файла</th>
              <th>Машина</th>
{#              <th>Комплекты</th>#}
              <th>Формы</th>
              <th>Вывод</th>
            </tr>
        {% for row in table %}
           <tr>
               <td>{{ row.datetime|date:"d.m.Y" }}</td>
               <td>{{ row.pdfname }}</td>
               <td>{{ row.machine.name }}</td>
{#               <td>{{ row.total_pages }} компл.</td>#}
               <td>{{ row.total_plates }}</td>
               <td>{{ row.contractor }}</td>
           </tr>
        {% endfor %}
    </table>
</div>


<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <i class="icon-calendar"></i>
            <h3 class="panel-title">Total</h3>
        </div>

        <div class="panel-body">
            <ul class="nav nav-pills nav-justified">
                {% for m, y in sum_plate.items %}
                    <span class="label label-success">{{ m }}</span>
                    <span class="badge">{{ y }}</span>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}