.tooltip-inner {
    white-space:pre-wrap;
}

span.big-icon {
    font-size: 1.5em;
}

table {
   font-size: 14px !important;
}

#snoAlertBox{
    position:absolute;
    z-index:1400;
    top:2%;
    right:4%;
    margin:0px auto;
	text-align:center;
    display:none;
}