#!/usr/bin/env python
#coding: utf-8

import os, sys, django
sys.path.append('{{project_root}}')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "{{project_name}}.settings")
from django.contrib.auth.models import User

try:
    superuser = User.objects.get(username='{{superusername}}')
    print('Superuser already exist with email {}'.format(superuser.email))
except Exception as e:
    #print e
    print('Superuser dont exist, create him')
    User.objects.create_superuser(username='{{superusername}}', password='{{superuserpassword}}', email='{{superuseremail}}')