#coding: utf-8
SECRET_KEY = '{{secret_key}}'

# Имя метка с именем машины (как она называется в Сигне). Должно соотв. PrintingPress.name
MARK_MACHINE = '{{mark_machine}}'

CONNECTION = {
    'NAME': '{{db_name}}',
    'USER': '{{db_user}}',
    'PASSWORD': '{{db_password}}',
}