#coding: utf-8
SECRET_KEY = {% verbatim %}{{secret_key}}{% endverbatim %}

# Метка с именем машины (соотв. PrintingPress.name)
MARK_MACHINE = '{{mark_machine}}'

# Ежедневно база sqlite бекапится по ssh на эту машину
hosts = '{{hosts}}'
path = '{{path}}'
user = '{{user}}'
key_filename = '{{key_filename}}'
port = '{{port}}'

