<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    {% load admin_urls %}
    {% get_static_prefix as STATIC_URL %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {#        <META http-equiv='refresh' content='60'>#}

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    {# <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}">#}

    <link rel="stylesheet" href="{% static "bootstrap-select/dist/css/bootstrap-select.min.css" %}">
    <script src="{% static "bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>

    <script src="{% static "moment/min/moment-with-locales.min.js" %}"></script>

    <script src="{% static "eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}">

    <link rel="stylesheet" href="{% static "style.css" %}">

    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>

    {#  iprint  #}
    {#        <style type="text/css">#}
    {#            table {#}
    {#               font-size: 12px !important;#}
    {#            }#}
    {#        </style>#}

    <title>UPLOAD LOG</title>
    {% block head %}  {% endblock %}
</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'grid' mode='clear' %}" class="btn navbar-btn btn-success" role="button">TES Upload Log</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="{% url 'admin:technologichka_order_add' %}"><span class="glyphicon glyphicon-stats"></span>
                    Новый заказ</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="{% url 'technologichka.views.orders' %}"><span class="glyphicon glyphicon-stats"></span>
                    Заказы</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="{% url 'stanzforms.views.doska_list' %}"><span class="glyphicon glyphicon-list"></span>
                    Штанцы</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'log' %}"><span class="glyphicon glyphicon-stats"></span>
                            View system log</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'report' %}"><span class="glyphicon glyphicon-list"></span>
                            Report</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'usersettings' %}"><span class="glyphicon glyphicon-cog"></span>
                            Settings</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="{{ request.get_host }}:9181" target="_blank"><span class="glyphicon glyphicon-dashboard"></span>
                            rq-dashboard</a></li>

                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-tag"></span>
                            About</a></li>
                    </ul>
                </li>
            </ul>


            {% csrf_token %}
            {% if user.is_authenticated %}
                <div class="navbar-form navbar-right btn-group">
                    <a href="{% url 'admin:index' %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-wrench"></span>Admin</a>
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> User '{{ user.username }}' is authenticated.</button>
                    <a href="{% url 'logout' %}?next=/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </div>

                <script>
                var importid = "#import";

                $(document).ready(function() {

                    // устанавливаем первоначальные значения во время загрузки страницы
                    {% if import_mode %}
                        $(importid).html('Import mode: ON');
                        $(importid).addClass('label-danger');
                    {% else %}
                        $(importid).html('Import mode: OFF');
                        $(importid).addClass('label-success');
                    {% endif %}

                    // по нажитию выполняем вьюху, и изменяем цвет и текст в соответствии с
                    // возвращенным из вььхи значением [для Import mode]
                    $(importid).click( function() {
                        $.getJSON("/change_import/", function(json) {
                            $(importid).html('Import mode: ' + json['import_mode']);
                            if (json['import_mode']) {
                                $(importid).html('Import mode: ON');
                                $(importid).removeClass('label-success');
                                $(importid).addClass('label-danger');
                            } else {
                                $(importid).html('Import mode: OFF');
                                $(importid).removeClass('label-danger');
                                $(importid).addClass('label-success');
                            }
                        });
                    });
                })
                </script>

                <div class="navbar-text pull-right">
                    <a href="#" class="label" id="import"></a>
                </div>
            {% else %}
                <form name='AuthenticationForm' method="post" action="{% url 'accounts:login' %}" class="navbar-form navbar-right" role="form" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputUsername2">Login</label>
                        <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username" name="username">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password">
                    </div>

                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <i class="icon-user icon-white"></i> Log in
                    </button>
                </form>
                    <div class="navbar-text pull-right">
                        {% if import_mode %}
                            <span class="label label-danger">Import mode: ON</span>
                        {% else %}
                            <span class="label label-success">Import mode: OFF</span>
                        {% endif %}
                    </div>
            {% endif %}

            {% comment %}
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link3</a></li>
            </ul>{% endcomment %}

        </div>
    </div>
</nav>

{% if messages %}
    <div class="container-fluid">
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert"> {{ message }} </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% block table %}  {% endblock %}

</body>

</html>

